<h1>Lobby Component</h1>
<h2>Game id: <%= @game_id %>

<h2>Players:</h2>
<%= for player_name <- @player_names do %>
    <div><%= player_name %></div>
<% end %>

<%= if @is_host do %>
    <button phx-click="start">Start game</button>
<% end %>