<%= component "container.html" do %>
<div class="h-10"></div>

  <%= component "form_with_header_layout.html",
        header: component("form_section_header_group.html",
                  header: "Create Game Lobby",
                  sub_header: "Enter your player name"),
        form: component("games_forms_new.html", changeset: @changeset)
  %>

<% end %>
