Wait for everyone to vote   

<%= for card <- @picks do %>
   <div>
    <div><img src="/images/_<%= card %>.jpg"  style="width: 233px; height: 350px; object-fit: cover;"/></div>
    </div>  
<% end %>

